<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gioneco.analytics.android.sdk" >
    <application>
        <provider
            android:name="org.gioneco.analytics.android.sdk.helper.DataContentProvider"
            android:authorities="${applicationId}.DataContentProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
